<div class="row mb-4">
  <div class="col-12">
    <div class="d-flex align-items-center justify-content-between">
      <h4 class="fw-bold py-3 mb-0"><span class="text-muted fw-light">Gestão /</span> Usuários</h4>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalRegister">
        <i class="bx bx-plus me-1"></i> Novo Usuário
      </button>
    </div>
  </div>
</div>

<!-- Tabela de Usuários -->
<div class="card">
  <h5 class="card-header">Listagem de Usuários</h5>
  <div class="table-responsive text-nowrap">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Código</th>
          <th>Nome</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody class="table-border-bottom-0">
        @for (user of usersService.users(); track user.id) {
          <tr>
            <td><strong>{{ user.employeeCode }}</strong></td>
            <td>{{ user.name }}</td>
            <td>
              <div class="dropdown">
                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                  <i class="bx bx-dots-vertical-rounded"></i>
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-edit-alt me-1"></i> Editar</a>
                  <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i> Excluir</a>
                </div>
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>

<!-- Modal de Cadastro -->
<div class="modal fade" id="modalRegister" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalRegisterTitle">Cadastrar Novo Usuário</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="modal-body">
          <div class="row">
            <div class="col mb-3">
              <label for="name" class="form-label">Nome</label>
              <input type="text" id="name" class="form-control" placeholder="Digite o nome completo" formControlName="name" />
            </div>
          </div>
          <div class="row g-2">
            <div class="col mb-3">
              <label for="employeeCode" class="form-label">Código do funcionário</label>
              <input type="text" id="employeeCode" class="form-control" placeholder="RE / Matrícula" formControlName="employeeCode" />
            </div>
            <div class="col mb-3">
              <label for="email" class="form-label">E-mail</label>
              <input type="email" id="email" class="form-control" placeholder="exemplo&#64;empresa.com" formControlName="email" />
            </div>
          </div>
          <div class="row g-2">
            <div class="col mb-3">
              <label for="password" class="form-label">Senha</label>
              <input type="password" id="password" class="form-control" placeholder="············" formControlName="password" />
            </div>
            <div class="col mb-3">
              <label for="roleId" class="form-label">Role</label>
              <select id="roleId" class="form-select" formControlName="roleId">
                <option value="">Selecione...</option>
                @for (role of rolesService.roles(); track role.id) {
                  <option [value]="role.id">{{ role.name }}</option>
                }
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
            Cancelar
          </button>
          <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
      </form>
    </div>
  </div>
</div>
