.authentication-wrapper {
  display: flex;
  flex-basis: 100%;
  min-height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.authentication-inner {
  width: 100%;
  max-width: 400px;
}

.app-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.card {
  border: none;
  box-shadow: 0 0.25rem 1rem rgba(161, 172, 184, 0.45);
}

.cursor-pointer {
  cursor: pointer;
}

.form-password-toggle .input-group-text {
  background-color: transparent;
  border-left: 0;
}

.form-password-toggle .form-control {
  border-right: 0;
}
